#social{
  width: 700px;
  background: #fff;
  padding: 2em;
  overflow: hidden;
}

#social>h1{
  font-size: 110%;
}

#social ul{
  list-style:none;
  margin: 0;
  padding:0;
}
#social #newaccountform{
  display:none;
  border: solid 1px #E6C854;
  background-color: #F4F7B0;
  width:100%;
  padding: 10px;
  overflow:hidden;
}

#social #newaccountform.active{
 display:block !important;
}
#social #helptext{
  float:left;
  width: 55%;
  margin: 1em;
}
#social #newaccountform>dl{
  float:left;
}
#social div#contact{
  border: solid 1px #ccc;
  background-color: #eee;
  width: 200px;
  padding: 10px;
  float:left;
  margin-right: 10px;
}
#social div#contact p{
  margin:0;
}
#social div#contact h4{
  margin-bottom:.5em;
}
#social div#contact ul{
  padding-left: 1em;
}
#social img#profile_img {
  max-height: 200px;
  max-width: 200px;
  margin:auto;
  border: solid 1px #333;
}
#social .editable:hover{
  background-color: #F4F7B0;
  border: solid 1px #E6C854;
}
#social #rightpanel{
  float:left;
  width:430px;
  padding: 10px;
  clear: right;
  overflow: hidden;
}
#social #rightpanel #viewtabs{
  list-style: none;
  margin:4px;
  padding:0;
}
#social #rightpanel #viewtabs>li{
  display:inline;
  margin-left: .5em;
  border: solid 1px #aaa;
  background-color: #eee;
  padding: 4px;
  cursor: default;
  border-bottom: none;
}
#social #rightpanel #viewtabs>li.active{
  border-bottom: solid 2px #fff;
  background-color: #fff;
  margin-bottom: -2px;
}
#rightpanel div{
  display: none;
}
#rightpanel div.active{
  display: block;
}
#social #rightpanel>div{
border-top: solid 1px #aaa;
padding-top: 5px;
}
#social #plan{
  margin: 2em auto;
  border: solid 1px #eee;
}
#social div#status form{
}

#social textarea{
  width:100%;
  display:block;
}
#social div#status ol{
  list-style:none;
  margin: 0;
  padding: 0;
}
#social #addnewphoto{
  margin-bottom: 1em;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 2px;
  margin-top:0;
}
#social div#status ol>li{
  border-bottom: solid 1px #aaa;
  padding: 10px;
  margin-bottom: 5px;
}
#social #new_account_button{
  float:right;
}
#social #knows_list{
  clear: both;
}
#social #addfriend, #social #post_button{
  float:right;
  border:solid 1px #aaa;
  background-color: #eee;
}

#social #post_button{
}
#social #postbox{
  margin-bottom: 3em;
}
#social .hidden{
  display:none;
}
#social #photos img{
  max-width:100px;
  max-height:100px;
  margin: .5em;
}
#social form dt{
  float:left;
  margin: .5em;
  margin-right:1em;
  width: 10em;
}
#social form dd{
  margin: .5em 0;
}
#social #friends li{
  margin: .5em 0;
}

/*  file found trancted 2010-01-15 TBL
Ends */
 